{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
  <div class="container">
    <div class="page-top">
      <div class="top flex">
        <div class="page-name">
          <a href="#" onclick="history.back()" class="learn"> <span class="material-icons"> keyboard_return </span> Go back </a>
          <h1>All Blogs</h1>
        </div>
        <div class="search-bar s-active">
          <input type="text" placeholder="Search" />
          <div class="animated-search">
            <i class="uil uil-search"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="container mt-5 pt-5">
  
<div class="container">
  {% include 'include/filter.html' %}
</div>
<section class="sp pt-5">
  <div class="container">
    {% if blogs.count == 0 %}
      <div class="card card-body text-center mb-5" style="width:100%; height:300px;">
        <h1 style="margin-top:30px; font-size:50px;">oops..</h1>
        <h1 style="margin-top:10px; font-size:50px;">☹️</h1>
        <h1 style="margin-top:10px">No Blogs Found!</h1>
      </div>
    {% endif %}
    <div class="grid">
      <!-- card -->
      {% for blog in blogs %}
      <a href="{% url 'view_blog' blog.slug %}">
        <div class="card my-card">
          <div class="post-img">
            <img src="{{blog.image.url}}" alt="" />
            <div class="tag">{{blog.category}}</div>
          </div>
          <div class="card-content">
            <h3 style="height:50px;">
              {{blog.title | capfirst | truncatechars:80}}
            </h3>
            <div class="author">
              <div class="profile-pic pt-3">
                <img src="{{blog.created_by.image.url}}" alt="" />
              </div>
              <div class="details">
                <p>{{blog.created_by.username}}</p>
                <small>{{blog.created_at}}</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
      <!-- card end-->
    </div>
    {% include 'include/paginator.html' %}
  </div>
</section>
{% endblock content %}