{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
  <div class="container">
    <div class="page-top">
      <div class="top flex">
        <div class="page-name">
          <a href="#" class="learn">
            <span class="material-icons"> keyboard_return </span> Go back
          </a>
          <h1>All Blogs</h1>
        </div>
        <div class="search-bar s-active">
          <input type="text" placeholder="Search" />
          <div class="animated-search">
            <i class="uil uil-search"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="container mt-5 pt-5">
  
<div class="container">
  {% include 'include/filter.html' %}
</div>
<section class="sp pt-5">
  <div class="container">
    <div class="grid">
      <!-- card -->
      <a href="#">
        <div class="card my-card">
          <div class="post-img">
            <img src="{% static 'images/post.png' %}" alt="" />
            <div class="tag">Tag name</div>
          </div>
          <div class="card-content">
            <h3>
              A blog title and other stuffs will add here, also we can
              include.
            </h3>
            <div class="author">
              <div class="profile-pic">
                <img src="{% static 'images/author.svg' %}" alt="" />
              </div>
              <div class="details">
                <p>Author name</p>
                <small>June 20, 2022</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- card end-->
      <!-- card -->
      <a href="#">
        <div class="card my-card">
          <div class="post-img">
            <img src="{% static 'images/post.png' %}" alt="" />
            <div class="tag">Tag name</div>
          </div>
          <div class="card-content">
            <h3>
              A blog title and other stuffs will add here, also we can
              include.
            </h3>
            <div class="author">
              <div class="profile-pic">
                <img src="{% static 'images/author.svg' %}" alt="" />
              </div>
              <div class="details">
                <p>Author name</p>
                <small>June 20, 2022</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- card end-->
      <!-- card -->
      <a href="#">
        <div class="card my-card">
          <div class="post-img">
            <img src="{% static 'images/post.png' %}" alt="" />
            <div class="tag">Tag name</div>
          </div>
          <div class="card-content">
            <h3>
              A blog title and other stuffs will add here, also we can
              include.
            </h3>
            <div class="author">
              <div class="profile-pic">
                <img src="{% static 'images/author.svg' %}" alt="" />
              </div>
              <div class="details">
                <p>Author name</p>
                <small>June 20, 2022</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- card end-->
      <!-- card -->
      <a href="#">
        <div class="card my-card">
          <div class="post-img">
            <img src="{% static 'images/post.png' %}" alt="" />
            <div class="tag">Tag name</div>
          </div>
          <div class="card-content">
            <h3>
              A blog title and other stuffs will add here, also we can
              include.
            </h3>
            <div class="author">
              <div class="profile-pic">
                <img src="{% static 'images/author.svg' %}" alt="" />
              </div>
              <div class="details">
                <p>Author name</p>
                <small>June 20, 2022</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- card end-->
      <!-- card -->
      <a href="#">
        <div class="card my-card">
          <div class="post-img">
            <img src="{% static 'images/post.png' %}" alt="" />
            <div class="tag">Tag name</div>
          </div>
          <div class="card-content">
            <h3>
              A blog title and other stuffs will add here, also we can
              include.
            </h3>
            <div class="author">
              <div class="profile-pic">
                <img src="{% static 'images/author.svg' %}" alt="" />
              </div>
              <div class="details">
                <p>Author name</p>
                <small>June 20, 2022</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- card end-->
      <!-- card -->
      <a href="#">
        <div class="card my-card">
          <div class="post-img">
            <img src="{% static 'images/post.png' %}" alt="" />
            <div class="tag">Tag name</div>
          </div>
          <div class="card-content">
            <h3>
              A blog title and other stuffs will add here, also we can
              include.
            </h3>
            <div class="author">
              <div class="profile-pic">
                <img src="{% static 'images/author.svg' %}" alt="" />
              </div>
              <div class="details">
                <p>Author name</p>
                <small>June 20, 2022</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- card end-->
      <!-- card -->
      <a href="#">
        <div class="card my-card">
          <div class="post-img">
            <img src="{% static 'images/post.png' %}" alt="" />
            <div class="tag">Tag name</div>
          </div>
          <div class="card-content">
            <h3>
              A blog title and other stuffs will add here, also we can
              include.
            </h3>
            <div class="author">
              <div class="profile-pic">
                <img src="{% static 'images/author.svg' %}" alt="" />
              </div>
              <div class="details">
                <p>Author name</p>
                <small>June 20, 2022</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- card end-->
      <!-- card -->
      <a href="#">
        <div class="card my-card">
          <div class="post-img">
            <img src="{% static 'images/post.png' %}" alt="" />
            <div class="tag">Tag name</div>
          </div>
          <div class="card-content">
            <h3>
              A blog title and other stuffs will add here, also we can
              include.
            </h3>
            <div class="author">
              <div class="profile-pic">
                <img src="{% static 'images/author.svg' %}" alt="" />
              </div>
              <div class="details">
                <p>Author name</p>
                <small>June 20, 2022</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- card end-->
      <!-- card -->
      <a href="#">
        <div class="card my-card">
          <div class="post-img">
            <img src="{% static 'images/post.png' %}" alt="" />
            <div class="tag">Tag name</div>
          </div>
          <div class="card-content">
            <h3>
              A blog title and other stuffs will add here, also we can
              include.
            </h3>
            <div class="author">
              <div class="profile-pic">
                <img src="{% static 'images/author.svg' %}" alt="" />
              </div>
              <div class="details">
                <p>Author name</p>
                <small>June 20, 2022</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- card end-->
    </div>
  </div>
</section>
{% endblock content %}