{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container">
        <div class="layout">
            <!-- left layout -->
            <div class="left">
                <div class="page-top">
                    <div class="top flex">
                        <div class="page-name">
                            <a href="#" class="learn">
                                <span class="material-icons"> keyboard_return </span> Go
                                back
                            </a>
                        </div>
                    </div>
                </div>

                <center>
                    <div class="typo mt-0">
                        <div class="text-center mt-0">
                            <img src="{{author.image.url}}" style="width:200px " class="rounded-circle">
                        </div>
                        <h1 class="title mt-3">{{author.full_name}}</h1>
                        <div class="text-center mt-3">
                            <div style="font-size:16px; font-weight:500; color:red;" class="mt-2 mb-2">@{{author.username}} &nbsp &nbsp 📞{{author.phone_number}}</div>
                            <div class="px-4 mt-3">
                                <p class="fonts" style="font-weight:500;">{{author.about}}</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-outline-danger p-2">{{subscribers.count}} Subscribers</button>

                            <a href="{% url 'subscribe_creator' author.username %}" class="btn btn-danger p-2" style="">
                                {% if is_subscribed %}
                                Unsubscribe
                                {% else %}
                                Subscribe
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </center>
                <section class="sp">
                    <div class="container">
                        <h1 class="sec-title">Top posts</h1>
                        <div class="grid-3 blog-grid">
                            <!-- card -->
                            {% for blog in top_blogs %}
                            <a href="{% url 'view_blog' blog.slug %}">
                                <div class="card">
                                    <div class="post-img">
                                        <img src="{{blog.image.url}}" alt="" />
                                    </div>
                                    <div class="card-content">
                                        <h3 class="mt-3">
                                            {{blog.title | truncatechars:80 | title}}
                                        </h3>
                                        <div class="author mt-2">
                                            <div class="profile-pic">
                                                <img src="{{blog.created_by.image.url}}" style="margin-top:10px" />
                                            </div>
                                            <div class="details mt-2">
                                                <p>{{blog.created_by.username}}</p>
                                                <small>{{blog.created_at}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                            <!-- card end-->
                        </div>
                        <center>
                            <a href="{% url 'view_all_blogs_by_author' author=author.username sort_method='Top Blogs' %}" class="btn btn-danger rounded mybtn mt-5" style="font-size: 12px; padding-top:10px">
                                View all &nbsp;<i class="fa-solid fa-arrow-right" style="color:white;"></i>
                            </a>
                        </center>
                    </div>
                </section>
                <section class="sp">
                    <div class="container">
                        <h1 class="sec-title">Most Liked</h1>
                        <div class="grid-3 blog-grid">
                            <!-- card -->
                            {% for blog in top_blogs %}
                            <a href="{% url 'view_blog' blog.slug %}">
                                <div class="card">
                                    <div class="post-img">
                                        <img src="{{blog.image.url}}" alt="" />
                                    </div>
                                    <div class="card-content">
                                        <h3 class="mt-3">
                                            {{blog.title | truncatechars:80 | title}}
                                        </h3>
                                        <div class="author mt-2">
                                            <div class="profile-pic">
                                                <img src="{{blog.created_by.image.url}}" style="margin-top:10px" />
                                            </div>
                                            <div class="details mt-2">
                                                <p>{{blog.created_by.username}}</p>
                                                <small>{{blog.created_at}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                            <!-- card end-->
                        </div>
                        <center>
                            <a href="{% url 'view_all_blogs_by_author' author=author.username sort_method='Most Liked' %}" class="btn btn-danger rounded mybtn mt-5" style="font-size: 12px; padding-top:10px">
                                View all &nbsp;<i class="fa-solid fa-arrow-right" style="color:white;"></i>
                            </a>
                        </center>
                    </div>
                </section>
                <section class="sp">
                    <div class="container">
                        <h1 class="sec-title">Latest Blogs</h1>
                        <div class="grid-3 blog-grid">
                            <!-- card -->
                            {% for blog in top_blogs %}
                            <a href="{% url 'view_blog' blog.slug %}">
                                <div class="card">
                                    <div class="post-img">
                                        <img src="{{blog.image.url}}" alt="" />
                                    </div>
                                    <div class="card-content">
                                        <h3 class="mt-3">
                                            {{blog.title | truncatechars:80 | title}}
                                        </h3>
                                        <div class="author mt-2">
                                            <div class="profile-pic">
                                                <img src="{{blog.created_by.image.url}}" style="margin-top:10px" />
                                            </div>
                                            <div class="details mt-2">
                                                <p>{{blog.created_by.username}}</p>
                                                <small>{{blog.created_at}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                            <!-- card end-->
                        </div>
                        <center>
                            <a href="{% url 'view_all_blogs_by_author' author=author.username sort_method='Latest Blogs' %}" class="btn btn-danger rounded mybtn mt-5" style="font-size: 12px; padding-top:10px">
                                View all &nbsp;<i class="fa-solid fa-arrow-right" style="color:white;"></i>
                            </a>
                        </center>
                    </div>
                </section>
            </div>
            <!-- left layout end -->
        </div>
    </div>
</main>

{% endblock content %}