{% extends 'app/dashboard-base.html' %}
{% block dcontent %}
<div class="card" >
    <div class="card-body">
        <div class="row">
            <div class="col-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">VIEWS</h4>
                        <p class="card-text">125K</p>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"> LIKES </h4>
                        <p class="card-text">2.3m</p>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">TOTAL</h4>
                        <p class="card-text">1275</p>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="row" >
            <div class="col-12">
                <table class="table table-hover mt-5 mb-3" id='myOrdersTable' >
                    <thead style="background-color:#DC3545;border-radius:.10px">
                        <tr >
                            <th style="font-size:16px;color:white"></th>
                            <th style="font-size:16px;color:white">Blog</th>
                            <th style="font-size:16px;color:white">View</th>
                            <th style="font-size:16px;color:white">Like</th>
                            <th style="font-size:16px;color:white">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-size:14px">2.</td>
                            <td style="font-size:14px">Lorem Ipsum is simply dummy text of the.</td>
                            <td style="font-size:14px">110k</td>
                            <td style="font-size:14px">155</td>
                            <td style="font-size:14px"><i class="fa-solid fa-pen-to-square"></i>&emsp;<i
                                    class="fa-solid fa-trash"></i>&emsp;<i class="fa-solid fa-star text-warning"></i></td>
                        </tr>
                        <tr>
                            <td style="font-size:14px">2.</td>
                            <td style="font-size:14px">Saurabh Khule</td>
                            <td style="font-size:14px">110k</td>
                            <td style="font-size:14px">155</td>
                            <td style="font-size:14px"><i class="fa-solid fa-pen-to-square"></i>&emsp;<i
                                    class="fa-solid fa-trash"></i>&emsp;<i class="fa-solid fa-star"></i></td>
                        </tr>
                        <tr>
                            <td style="font-size:14px">2.</td>
                            <td style="font-size:14px">Saurabh Khule</td>
                            <td style="font-size:14px">110k</td>
                            <td style="font-size:14px">155</td>
                            <td style="font-size:14px"><i class="fa-solid fa-pen-to-square"></i>&emsp;<i
                                    class="fa-solid fa-trash"></i>&emsp;<i class="fa-solid fa-star"></i></td>
                        </tr>
                        <tr>
                            <td style="font-size:14px">3.</td>
                            <td style="font-size:14px">Sagar Darade</td>
                            <td style="font-size:14px">27k</td>
                            <td style="font-size:14px">15</td>
                            <td style="font-size:14px"><i class="fa-solid fa-pen-to-square"></i>&emsp;<i
                                    class="fa-solid fa-trash"></i>&emsp;<i class="fa-solid fa-star"></i></td>
                        </tr>
                        <tr>
                            <td style="font-size:14px">4.</td>
                            <td style="font-size:14px">Pratik Khule</td>
                            <td style="font-size:14px">410k</td>
                            <td style="font-size:14px">1875</td>
                            <td style="font-size:14px"><i class="fa-solid fa-pen-to-square"></i>&emsp;<i
                                    class="fa-solid fa-trash"></i>&emsp;<i class="fa-solid fa-star"></i></td>
                        </tr>
                        <tr>
                            <td style="font-size:14px">5.</td>
                            <td style="font-size:14px">Pratik Deshmukh</td>
                            <td style="font-size:14px">210k</td>
                            <td style="font-size:14px">15</td>
                            <td style="font-size:14px"><i class="fa-solid fa-pen-to-square"></i>&emsp;<i
                                    class="fa-solid fa-trash"></i>&emsp;<i class="fa-solid fa-star"></i></td>
                        </tr>
                        <tr>
                            <td style="font-size:14px">6.</td>
                            <td style="font-size:14px">chetan Karpe</td>
                            <td style="font-size:14px">20k</td>
                            <td style="font-size:14px">18k</td>
                            <td style="font-size:14px"><i class="fa-solid fa-pen-to-square"></i>&emsp;<i
                                    class="fa-solid fa-trash"></i>&emsp;<i class="fa-solid fa-star"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>

{% endblock dcontent %}